*
  padding: 0
  margin: 0
  font-family: 'Roboto', sans-serif
  box-sizing: border-box

$primary-color: #5add75
$default-radius: 0

a
  text-decoration: none
  color: $primary-color

.container-xl
  max-width: 1024px
  margin: 0 auto

.btn
  border-radius: $default-radius
  font-weight: bold

.btn-light
  color: $primary-color

  &:hover
    color: $primary-color

.btn-primary
  background-color: $primary-color
  border: none

  &:hover
    background-color: #4dbf88

  &:active
    background-color: #4dbf88

.sub-title
  color: $primary-color
  text-align: center
  font-weight: bold

  &::after
    content: ''
    display: block
    width: 12rem
    height: 2px
    background-color: $primary-color
    margin: .5rem auto

textarea
  resize: none

html
  font-size: 16px

.card
  border-radius: $default-radius

.header-content
  img
    height: 3rem

  a
    color: $primary-color

.banner-section
  .banner
    color: #fff
    border-radius: $default-radius
    padding: 0

    .row
        width: 100%

    .banner-cta
      padding: 2rem
      display: flex
      background-color: $primary-color
      flex-direction: column
      align-items: flex-start
      justify-content: center
      gap: 3rem

      h2
        font-weight: bold

    .banner-img-container
      display: flex
      justify-content: center   
      align-items: center
      padding: 2rem
      background: rgb(9,53,102)
      color: $primary-color





      h3
        max-width: 12rem
        font-weight: bold

.energy-section
  .bg-light-gray
    background-color: #eee

  .card
    border-radius: $default-radius
    height: 100%

    .badge
      background-color: $primary-color
      color: #fff
      padding: .5rem 1rem
      border-radius: $default-radius

.benefits-section
  .col-md-8
    display: flex
    flex-direction: column
    justify-content: center

  img
    width: 100%
    object-fit: cover

  h3
    color: $primary-color

.topics-section
  background-color: #E6FFEB

  .row
    justify-content: center

  .card
    border: none
    box-shadow: none
    background-color: transparent
    height: 100%

    .card-body
      text-align: center
      justify-content: space-between

    p
      font-size: .8rem

    .card-body
      display: flex
      flex-direction: column
      align-items: center

      .card-title
        display: flex
        align-items: center
        justify-content: center
        background-color: $primary-color
        width: 3rem
        aspect-ratio: 1/1
        color: #fff
        border-radius: 50%

      .card-subtitle
        color: $primary-color

.project-section
  .bg-gradient-greenblue
    background: rgb(41,188,255)
    background: linear-gradient(90deg, rgb(9,53,102) 0%, rgb(74, 197, 136) 100%)

  h3
    font-size: 1.5rem
    color: #fff

  li
    color: #fff

  .btn
    color: #fff
    border: 1px solid #fff
    background: transparent

    &:hover
      background-color: #fff
      color: $primary-color

  img
    width: 100%

.contact-section
  background-image: url('../imgs/sustainableIcon.png')
  background-repeat: no-repeat
  background-position: -10% 120%
  background-size: 18rem
  background-color: #166086

  label
    color: $primary-color